{% extends 'homepage/index.html' %}
{% load static %}

     {% block navbar %}

        <ul class="bar">
          <li class="barlist"><a href="{% url 'index' %}" >Home</a></li>
          <li class="barlist"><a href="{% url 'info' %}" >More Info</a></li>
          <li class="barlist" style="float:right" ><a href="{% url 'about' %}" class="active">About</a></li>
        </ul>

    {% endblock %}

    {% block content %}

        <!--Mission-->
        <br><br><div class="form2">
        <h1 style="text-align: center; font-size: 56px; font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;"><b>- Our Mission -</b></h1><br>
        <h3 style="text-align: center">To provide custom PC builds without the hassle</h3>
        </div>
        <h6 style="position: fixed; bottom: 0; width:100%; text-align: center">Mostly Michaels Copyright © 2020, Customize My Rig. All Rights Reserved</h6>

        <!--Origin Story-->
        <br><br><div class="form2">
            <h2 style="text-align: center">Origin</h2><br>
            <h4 style="text-align: center">
                Not too long ago in a galaxy not too far away, Mark Van Ree was looking at PC parts and thought
                "Why isn't there a website that helps you build a PC to a budget without requiring extensive hardware knowledge?"
                Most similar products either give overpriced pre-builds or required hardware knowledge.
                Later, Mark was asked to pitch a project involving python efficiency and Customize My Rig was born...</h4>
            <h3 style="text-align: center"><i>THE WORLD WAS NEVER THE SAME</i></h3>
        </div>
        <h6 style="position: fixed; bottom: 0; width:100%; text-align: center">Mostly Michaels Copyright © 2020, Customize My Rig. All Rights Reserved</h6>

    {% endblock %}
