{% extends 'homepage/index.html' %}
{% load static %}

    {% block navbar %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Customize My PC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="{% url 'info' %}">More Info</a>
            <a class="nav-item nav-link active" href="{% url 'about'%}">About</a>
          </div>
        </div>
      </nav>
    {% endblock %}
        {% block content %}
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Home</li>
            <li class="breadcrumb-item" aria-current="page">About</li>
          </ol>
        </nav>
        <!--Mission-->
        <br><br><div class="form2">
        <h1 style="text-align: center; font-size: 56px; font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;"><b>- Our Mission -</b></h1><br>
        <h3 style="text-align: center">To provide custom PC builds without the hassle</h3>
        </div>
        <h6 style="position: fixed; bottom: 0; width:100%; text-align: center">Mostly Michaels Copyright © 2020, Customize My Rig. All Rights Reserved</h6>

        <!--Origin Story-->
        <br><br><div class="form2">
            <h2 style="text-align: center">Origin</h2><br>
            <h4 style="text-align: center">
                Not too long ago in a galaxy not too far away, Mark Van Ree was looking at PC parts and thought
                "Why isn't there a website that helps you build a PC to a budget without requiring extensive hardware knowledge?"
                Most similar products either give overpriced pre-builds or required hardware knowledge.
                Later, Mark was asked to pitch a project involving python efficiency and Customize My Rig was born...</h4>
            <h3 style="text-align: center"><i>THE WORLD WAS NEVER THE SAME</i></h3>
        </div>
        <h6 style="position: fixed; bottom: 0; width:100%; text-align: center">Mostly Michaels Copyright © 2020, Customize My Rig. All Rights Reserved</h6>

    {% endblock %}