
{% extends 'homepage/index.html' %}
{% load static %}

{% block navbar %}

    <ul class="bar">
        <li class="barlist"><a href="/" class="active">Home</a></li>
        <li class="barlist"><a href="info.html">More Info</a></li>
        <li class="barlist" style="float:right"><a href="{% url 'about' %}">About</a></li>
    </ul>

{% endblock %}

{% block content %}

    <br>
    <h1 style="text-align: center"><b>Brand Preference</b></h1>

    <br>
    <form class="form2">
        <h4 style="text-align: center">Do you have a brand you prefer over others?</h4>
        <div class="container">
            <ul class="ks-cboxtags" style="text-align: center">
                <li><input type="checkbox" name="Intel" id="Intel"><label for="Intel">Intel</label></li>
                <li><input type="checkbox" name="nvidia" id="nvidia"><label for="nvidia">Nvidia</label></li>
                <li><input type="checkbox" name="AMD" id="AMD"><label for="AMD">AMD</label></li>
                <li><input type="checkbox" name="no_brand" id="no_brand"><label for="no_brand">No Preference</label>
                </li>
            </ul>

            <h4 style="text-align: center">Will you be overclocking?</h4>
            <div class="radio-wrapper">
                <p style="text-align: center">
                    <input type="radio" class="hardware" id="overclock" name="storage_type" value="overclock"
                           style="vertical-align: middle; margin: 0px;">
                    <label for="overclock">Yes</label>&nbsp;&nbsp;&nbsp;

                    <input type="radio" class="hardware" id="noclock" name="storage_type" value="noclock"
                           style="vertical-align: middle; margin: 0px;">
                    <label for="noclock">No/Idk</label>&nbsp;&nbsp;

                </p>
            </div><br>

            <h4 style="text-align: center">Water or air cooling?</h4>
            <div class="radio-wrapper">
                <p style="text-align: center">
                    <input type="radio" class="hardware" id="watercool" name="storage_type" value="watercool"
                           style="vertical-align: middle; margin: 0px;">
                    <label for="watercool">Water Cooling</label>&nbsp;&nbsp;&nbsp;

                    <input type="radio" class="hardware" id="aircool" name="storage_type" value="aircool"
                           style="vertical-align: middle; margin: 0px;">
                    <label for="aircool">Air Cooling</label>&nbsp;&nbsp;

                    <input type="radio" class="hardware" id="nocool" name="storage_type" value="nocool"
                           style="vertical-align: middle; margin: 0px;">
                    <label for="nocool">No/Idk</label>&nbsp;&nbsp;
                </p>
            </div><br>

            <button class="button button2" type="submit">Continue</button>
        </div>
    </form>
    <h6 style="position: relative; bottom: 0; width:100%; text-align: center">Mostly Michaels Copyright © 2020, Customize
        My Rig. All Rights Reserved</h6>

{% endblock %}
