<!--
Case Picking

References:
- Checkboxes https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox
- Checkbox Sizing https://www.geeksforgeeks.org/how-to-set-checkbox-size-in-html-css/
- Pictures as Radio Buttons https://stackoverflow.com/questions/17541614/use-images-instead-of-radio-buttons
- Centering Cases https://stackoverflow.com/questions/8603914/center-image-in-table-td-in-css/8603927
- Hover to Case Images https://www.w3schools.com/cssref/css3_pr_filter.asp
-->

{% extends 'homepage/index.html' %}
{% load static %}

    {% block navbar %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Customize My PC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="{% url 'info' %}">More Info</a>
            <a class="nav-item nav-link" href="{% url 'about'%}">About</a>
          </div>
        </div>
      </nav>
    {% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">Home</li>
      <li class="breadcrumb-item" aria-current="page">Case</li>
    </ol>
  </nav>
<br>
<h1 style="text-align: center"><b>Computer Case</b></h1>
<h4 style="text-align: center">Choose the case that best suits you.</h4>

<br>
{% comment %} <div class="container">
  <div class="row justify-content-md-center">
    <div class="col p-3 bg-light">
      <form method='GET'>
        <div class="form-row justify-content-md-center">
          <div class="col-md4">
            <div class="form-check form-control-lg">
              <input class="form-check-input" value="solid" type="checkbox" id="solid">
              <label class="form-check-label" for="solid">
                {{ request.cases[] }}
              </label>
            </div>
            <div class="form-check form-control-lg">
              <input class="form-check-input" type="checkbox" id="glass">
              <label class="form-check-label" for="glass">
                Glass Panel
              </label>
            </div>
            <div class="form-check form-control-lg">
              <input class="form-check-input" type="checkbox" id="white">
              <label class="form-check-label" for="white">
                White
              </label>
            </div>
            <div class="form-check form-control-lg">
              <input class="form-check-input" type="checkbox" id="black">
              <label class="form-check-label" for="black">
                Black
              </label>
            </div>
            <div class="form-check form-control-lg">
              <input class="form-check-input" type="checkbox" id="idc">
              <label class="form-check-label" for="idc">
                No Preference
              </label>
            </div>
          </div>
        </div>
          <button type="submit" class="btn btn-primary align-self-right">Continue</button>
      </form>
    </div>
  </div>
</div> {% endcomment %}

<form class="form3">
    <list>
        <tr>
            <label class="case-radios" for="case0">
                <div class="dropdown">
                    <input type="radio" id="case0" name="case" value="case0">
                    <img src={{case0.img}} alt="Case_Image" style="width:250px;height:200px;">
                    <div class="dropdown-content"; style="min-width:50px">
                        $ {{case0.price}}
                    </div>
                </div>
            </label>
            <label class="case-radios" for="case1">
                <div class="dropdown">
                    <input type="radio" id="case1" name="case" value="case1">
                    <img src={{case1.img}} alt="Case_Image" style="width:250px;height:200px;">
                    <div class="dropdown-content"; style="min-width:50px">
                        $ {{case1.price}}
                    </div>
                </div>
            </label>
            <label class="case-radios" for="case2">
                <div class="dropdown">
                    <input type="radio" id="case2" name="case" value="case2">
                    <td><img src={{case2.img}} alt="Case_Image" style="width:250px;height:200px;"></td>
                    <div class="dropdown-content"; style="min-width:50px">
                        $ {{case2.price}}
                    </div>
                </div>
            </label>
        </tr>
        {% if case_num > 3 %}
            <tr>
                <label class="case-radios" for="case3">
                    <div class="dropdown">
                        <input type="radio" id="case3" name="case" value="case3">
                        <img src={{case3.img}} alt="Case_Image" style="width:250px;height:200px;">
                        <div class="dropdown-content"; style="min-width:50px">
                            $ {{case3.price}}
                        </div>
                    </div>
                </label>
                {% if case_num > 4 %}
                <label class="case-radios" for="case4">
                    <div class="dropdown">
                        <input type="radio" id="case4" name="case" value="case4">
                        <img src={{case4.img}} alt="Case_Image" style="width:250px;height:200px;">
                        <div class="dropdown-content"; style="min-width:50px">
                            $ {{case4.price}}
                        </div>
                    </div>
                </label>
                {% endif %}
                {% if case_num > 5 %}
                <label class="case-radios" for="case5">
                    <div class="dropdown">
                        <input type="radio" id="case5" name="case" value="case5">
                        <img src={{case5.img}} alt="Case_Image" style="width:250px;height:200px;">
                        <div class="dropdown-content"; style="min-width:50px">
                            $ {{case5.price}}
                        </div>
                    </div>
                </label>
                {% endif %}
            </tr>
        {% endif %}
        <button class="button button2" type="submit">Continue</button>
    </list>
</form><br>


<h6 style="position: relative; bottom: 0; width:100%; text-align: center">Mostly Michaels Copyright © 2020, Customize My Rig. All Rights Reserved</h6>

{% endblock %}
