<!--
Case Picking

References:
- Checkboxes https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox
- Checkbox Sizing https://www.geeksforgeeks.org/how-to-set-checkbox-size-in-html-css/
- Pictures as Radio Buttons https://stackoverflow.com/questions/17541614/use-images-instead-of-radio-buttons
- Centering Cases https://stackoverflow.com/questions/8603914/center-image-in-table-td-in-css/8603927
-->

{% extends 'homepage/index.html' %}
{% load static %}

{% block navbar %}

<ul class="bar">
  <li class="barlist"><a href="/" class="active">Home</a></li>
  <li class="barlist"><a href="info.html">More Info</a></li>
  <li class="barlist" style="float:right"><a href="{% url 'about' %}">About</a></li>
</ul>

{% endblock %}

{% block content %}

<br>
<h1 style="text-align: center"><b>Computer Case</b></h1>
<h4 style="text-align: center">Choose the case that best suits you.</h4>

<br>
<form class="form3">
    <list>
        <tr>
            <label class="case-radios" for="case0">
                <input type="radio" id="case0" name="case" value="case0">
                <td><img src={{case0.img}} alt="Case_Image" style="width:250px;height:200px;"></td>
            </label>
            <label class="case-radios" for="case1">
                <input type="radio" id="case1" name="case" value="case1">
                <td><img src={{case1.img}} alt="Case_Image" style="width:250px;height:200px;"></td>
            </label>
            <label class="case-radios" for="case2">
                <input type="radio" id="case2" name="case" value="case2">
                <td><img src={{case2.img}} alt="Case_Image" style="width:250px;height:200px;"></td>
            </label>
        </tr>
        {% if case_num > 3 %}
            <tr>
                <label class="case-radios" for="case3">
                    <input type="radio" id="case3" name="case" value="case3">
                    <td><img src={{case3.img}} alt="Case_Image" style="width:250px;height:200px;"></td>
                </label>
                {% if case_num > 4 %}
                <label class="case-radios" for="case4">
                    <input type="radio" id="case4" name="case" value="case4">
                    <td><img src={{case4.img}} alt="Case_Image" style="width:250px;height:200px;"></td>
                </label>
                {% endif %}
                {% if case_num > 5 %}
                <label class="case-radios" for="case5">
                    <input type="radio" id="case5" name="case" value="case5">
                    <td><img src={{case5.img}} alt="Case_Image" style="width:250px;height:200px;"></td>
                </label>
                {% endif %}
            </tr>
        {% endif %}
        <button class="button button2" type="submit">Continue</button>
    </list>
</form>


<h6 style="position: fixed; bottom: 0; width:100%; text-align: center">Mostly Michaels Copyright © 2020, Customize My Rig. All Rights Reserved</h6>

{% endblock %}
