<!--
Case Picking

References:
- Checkboxes https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox
- Checkbox Sizing https://www.geeksforgeeks.org/how-to-set-checkbox-size-in-html-css/
-->

{% extends 'homepage/index.html' %}
{% load static %}

{% block navbar %}

    <ul class="bar">
        <li class="barlist"><a href="/" class="active">Home</a></li>
        <li class="barlist"><a href="info.html">More Info</a></li>
        <li class="barlist" style="float:right"><a href="{% url 'about' %}">About</a></li>
    </ul>

{% endblock %}

{% block content %}
    <!--Begin Form-->
    <br>
    <h1 style="text-align: center"><b>Storage Space</b></h1>
    <h4 style="text-align: center">How much storage space do you want on your new PC?</h4>
    <br>
    <div class="storageform">
        <div class="storageslidecontainer" style="margin-top: 20px;">
            <form>
                <h4 style="text-align: center;">What type of storage?</h4>
                <div class="radio-wrapper">
                    <div class="container">
                        <ul class="ks-cboxtags" style="text-align: center">
                            <li><input type="checkbox" name="SSD" id="SSD"><label for="SSD">SSD</label></li>
                            <li><input type="checkbox" name="HDD" id="HDD"><label for="HDD">HDD</label></li>
                            <li><input type="checkbox" name="auto" id="auto"><label for="auto">Do it for me!</label></li>
                        </ul>
                    </div>
                </div>

                <h2 style="text-align: center;">SSD</h2>
                <input type="range" min="0.5" max="4" value="0.5" class="storageslider" id="ssdrange" name="ssdrange"
                       oninput="ssdamount.value=ssdrange.value" step="0.5"/>
                <div style="overflow: hidden;">
                    <h3 style="float: left; margin-left: 15%">0.5 TB</h3>
                    <h3 style="float: right; margin-right: 15%">4 TB</h3>
                </div>
                <input type="number" style="margin-top: 0px" class="storageamount" id="ssdamount" name="ssdamount" oninput="ssdrange.value=ssdamount.value"
                       min="0.5" max="4" step="0.5" value="0.5"><br><br><br>


                <h2 style="text-align: center;">HDD</h2>
                <input type="range" min="1" max="8" value="1" class="storageslider" id="hddrange" name="hddrange"
                       oninput="hddamount.value=hddrange.value" step="1"/>
                <div style="overflow: hidden;">
                    <h3 style="float: left; margin-left: 15%">1 TB</h3>
                    <h3 style="float: right; margin-right: 15%">8 TB</h3>
                </div>
                <input type="number" style="margin-top: 0px" class="storageamount" id="hddamount" name="hddamount" oninput="hddrange.value=hddamount.value"
                       min="1" max="8" value="1"><br>

                <button class="button button2">Show me my PC!</button>
            </form>
        </div>
    </div>


    <br><h6 style="position: relative; bottom: 0; width:100%; text-align: center">Mostly Michaels Copyright © 2020, Customize
        My Rig. All Rights Reserved</h6>

{% endblock %}
