{% extends 'homepage/index.html' %}
{% load static %}

    {% block navbar %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Customize My PC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link active" href="{% url 'info'%}">More Info</a>
            <a class="nav-item nav-link" href="{% url 'about'%}">About</a>
          </div>
        </div>
      </nav>
    {% endblock %}

    {% block content %}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">Home</li>
          <li class="breadcrumb-item" aria-current="page">Info</li>
        </ol>
      </nav>
        <br><br><div class="form2">
            <h2 style="text-align: center"><b>Customize My Rig gives you a free PC build optimized to your budget in seconds!</b></h2>
            <br><br><h2 style="text-align: left">How it works:</h2><br>
            <h4 style="text-align: left">1. <b>Tell us your budget:</b> Let us know the total amount you are willing to spend on your PC</h4><br>
            <h4 style="text-align: left">2. <b>We do the work:</b> We scour the web for the best, highest rated parts that can fit in your budget</h4><br>
            <h4 style="text-align: left">3. <b>View your new PC:</b> We show you the components we found for you, their price and other information, and where to buy them</h4><br>
        </div>
        <h6 style="position: fixed; bottom: 0; width:100%; text-align: center">Mostly Michaels Copyright © 2020, Customize My Rig. All Rights Reserved</h6>

    {% endblock %}
