<!--
Case Picking

References:
- Checkboxes https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox
- Checkbox Sizing https://www.geeksforgeeks.org/how-to-set-checkbox-size-in-html-css/
- Dropdown Next to Header : https://stackoverflow.com/questions/4980525/css-center-display-inline-block
-->

{% extends 'homepage/index.html' %}
{% load static %}

{% block navbar %}

<ul class="bar">
  <li class="barlist"><a href="/" class="active">Home</a></li>
  <li class="barlist"><a href="info.html">More Info</a></li>
  <li class="barlist" style="float:right"><a href="{% url 'about' %}">About</a></li>
</ul>

{% endblock %}

{% block content %}

    <!--Begin Form-->
<br>
<h1 style="text-align: center"><b>PC Type</b></h1>
<h4 style="text-align: center">What type of PC are you interested in?</h4>
<br>
<form class="form2" style="text-align: center">
    <table class="typetable" style="border: none">
        <tr>
            <th>
                <div style="display:flex;justify-content:center;">
                    <h5 style="text-align: center;">Gaming PC</h5>
                    <div class="dropdown">
                        <img src="{% static 'homepage/help.png' %}" alt="help icon" style="height:20px;width:20px;">
                        <div class="dropdown-content" style="min-width:350px;">
                            <p style="font-size:100%;">If you plan on using your computer primarily for video games, you
                                will want to spend more on the GPU and CPU.</p>
                        </div>
                    </div>
                </div>
                <br></th>
            <th>
                <div style="display:flex;justify-content:center;">
                    <h5 style="text-align: center;">Gaming & Streaming PC</h5>
                    <div class="dropdown">
                        <img src="{% static 'homepage/help.png' %}" alt="help icon" style="height:20px;width:20px;">
                        <div class="dropdown-content" style="min-width:350px;">
                            <p style="font-size:100%;">Similar to a gaming PC with more of an emphasis on CPU quality
                                and RAM quantity.</p>
                        </div>
                    </div>
                </div>
                <br></th>
            <th>
                <div style="display:flex;justify-content:center;">
                    <h5 style="text-align: center;">Production PC</h5>
                    <div class="dropdown">
                        <img src="{% static 'homepage/help.png' %}" alt="help icon" style="height:20px;width:20px;">
                        <div class="dropdown-content" style="min-width:350px;">
                            <p style="font-size:100%;">If you plan on doing processor heavy tasks like video editing,
                                3D modeling, or game development, you will want to spend more on CPU, RAM, and GPU.</p>
                        </div>
                    </div>
                </div>
                <br></th>
        </tr>
        <tr>
            <td style="background-color: lightgrey; border: none">
                <input type="radio" name="pc-type" class="sr-only" id="Gaming" value="gaming">
                <label for="Gaming" class="pctype">
                    <img src="{% static 'homepage/gamepcselect.png' %}" alt="Gaming PC">
                </label>
            </td>
            <td style="background-color: lightgrey; border: none">
                <input type="radio" name="pc-type" class="sr-only" id="Streaming" value="streaming">
                <label for="Streaming" class="pctype">
                    <img src="{% static 'homepage/streampcselect.png' %}" alt="Streaming PC">
                </label>
            </td>
            <td style="background-color: lightgrey; border: none">
                <input type="radio" name="pc-type" class="sr-only" id="Production" value="production">
                <label for="Production" class="pctype">
                    <img src="{% static 'homepage/editpcselect.png' %}" alt="Production PC">
                </label>
            </td></tr>
    </table>
<button class="button button2" type="submit">Continue</button>
</form>

<h6 style="position: fixed; bottom: 0; width:100%; text-align: center">Mostly Michaels Copyright © 2020, Customize My Rig. All Rights Reserved</h6>


{% endblock %}
