body {
    background-color: #C8C8C8;
}

.form {
  background-color: lightgrey;
  width: 90%;
  border: #1bc5da;
  border-style: solid;
  margin: auto;
  padding: 10px;
}

/************ Nav Bar *****************/
.bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.barlist {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #1bc5da;
}
/*************** End Nav Bar *********************/

/*************** SLIDER **********************/
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  margin-left: auto;
  margin-right: auto;
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 50px;
  background: #FFFFFF;
  opacity: 0.7; /* transparency */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 50px; /* Set a specific slider handle width */
  height: 50px; /* Slider handle height */
  background: #1bc5da;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 50px; /* Set a specific slider handle width */
  height: 50px; /* Slider handle height */
  background: #1bc5da;
  cursor: pointer; /* Cursor on hover */
}

.amount {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/************* END SLIDER *******************/

/************* BUTTON ******************/
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size : 20px;
  background-color: white;
  color: black;
  border: 2px solid #1bc5da;
}

.button1:hover {
  background-color: #1bc5da;
  color: white;
}
/************* END BUTTON ****************/

/************* PC TYPE **************/
.pctype{
  text-align: center;
}
.pctype img{
  display:inline-block;
  width: 100%;
  border: #1bc5da;
  border-style: solid;
}

.typetable {
  margin-left: auto;
  margin-right: auto;
}

/**********************************/

/******** More info **************/
.dropdown {
  position: relative;
  display: flow;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 8px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.colorpicker {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 70px;
	height: 70px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
/*********** END MORE INFO *************/

/*********** RESULTS TABLE *************/
.resultstable {
    margin: 30px auto;
    border: 3px #1bc5da;
}

.resultstable th, td {
    padding: 10px;
    text-align: center;
    background-color: white;
    border: 3px solid #1bc5da;
}
/**************** END RESULTS TABLE **************/
